<%= form_with model: song do |form| %>
  <% if form.object.errors.any? %>
    <p class="error"><%= form.object.errors.full_messages.first %></p>
  <% end %>

  <div>
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :artist, class: "form-label" %>
    <%= form.text_field :artist, class: "form-control" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
