<h1><%= @song.songName %></h1>
<p><i><%= @song.artist_infos.first&.artistName || "Unknown Artist" %></i></p>

<div class="row">
  <div class="col">
    <p><b>Release Date:</b> <%= @song.album_release&.album_info&.releaseDate || "Unknown" %></p>
    <p><b>Track Number:</b> <%= @song.trackNumber || "Unknown" %></p>
    <p><b>ID:</b> <%= @song.songID %></p>

    <%= link_to "Link song", link_song_path(@song.songID), class: "btn btn-primary" %>

    <%= link_to "Back", songs_path, class: "btn btn-secondary" %>
  </div>
  <div class="col">
    <img class="card-img-top" src="<%= asset_path('wave.png') %>" style="width: 65%" alt="Audio Waveform">
    <p><b><%= @song.album_release&.album_info&.albumName || "Unknown Album" %></b></p>
  </div>
</div>

<div class="mt-4">
  <%= button_to "Delete Song", song_path(@song), method: :delete, data: { turbo_confirm: "Are you sure you want to delete this song?" }, class: "btn btn-danger" %>
</div>